body {
  font-family: sans-serif;
  margin: 0;
}

.insta-input {
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(212, 212, 212);
  height: 20px;
  width: 248px;
  margin: 5px;
  font-size: 16px;
  padding-top: 9px;
  padding-left: 8px;
  padding-bottom: 7px;
}

.insta-input:focus {
  border-color: rgb(168, 168, 168);
  outline: 0px;
}

.insta-submit {
  background-color: rgba(0, 149, 246, 0.3);
  width: 260px;
  height: 30px;
  border-width: 1px;
  border-radius: 4px;
  border-color: transparent;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 5px 0px 5px 0px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.insta-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 30px 45px 45px 45px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  background-color: #ffffff;
  border-radius: 1px;
  align-self: center;
}

.insta-logo {
  padding-bottom: 25px;
  width: 200px;
}

.insta-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
